body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6CmZg9a5D4y54QbG3Gf4fvll_oa6iT4HS0w&usqp=CAU);
  background-repeat: repeat;
  background-attachment: fixed;
}

* {
  margin: 0;
  padding: 0;
}
